.quiz-container {
  padding: 15px;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  legend {
    font-size: 13px;
  }
  fieldset {
    .button-save {
      display: flex;
      justify-content: flex-end;
    }
  }
}
